- variant = 'test'
%div.experiment-container.experiment-test

  .container.slp-container#plans
    .row.u-padding-top-sm
      -# reminder to Digital Experience team to update the below to reflect 10620's include structure. The direct HAML below is a temporary solution during this test.
      - variant = 'test'
      %div.cmp-pricing-plan-list
        .row.pricing-nav-mobile
          -# empty div where the navigation will go once generated by javascript
        .row.plans
          - test_pricing_plans = data.pricing.plans.dup
          -# Must use .dup otherwise you're referencing the same object when copying the variable.
          - test_plans = test_pricing_plans
          - test_plans.each_with_index do |plan_test, index|
            - free = plan_test.id == 'free'
            %div{class: "col-md-4 plan plan-#{plan_test.id}"}
              .plan-inner-wrapper
                .content
                  .title= plan_test.title
                  .description= plan_test.description
                  -#.sub-description= plan_test.sub_description
                  .price $#{plan_test.monthly_price}
                  - unless free
                    .price-monthly /user/month
                    .price-annually (Billed annually at $#{plan_test.monthly_price * 12} USD)
                  -#.plan-reason= plan_test.reason
                  %div{ class: "btn cta-btn start-#{plan_test.id}", data: { target: "##{plan_test.id}-modal-#{variant}", toggle: 'modal' } }= free ? 'Start now' : 'Buy now'
                .features
                  .feature-title= free ? 'Includes' : "All the benefits of #{test_plans[index - 1].title}&nbsp;+"
                  %ul
                    - plan_test.features.each do |feature|
                      %li
                        %span.icon= partial "/images/icons/slp-checkmark.svg"
                        %span= feature.title
                - if plan_test.features_more
                  .benefits-view
                    %ul
                      - plan_test.features_more.each do |feature|
                        %li
                          %span.icon= partial "/images/icons/slp-checkmark.svg"
                          %span= feature.title
                    %div{ class: "btn cta-btn start-#{plan_test.id}", data: { target: "##{plan_test.id}-modal-#{variant}", toggle: 'modal' } }= free ? 'Start now' : 'Buy now'


      - data.pricing.plans.each do |plan|
        -# generate the "start now / buy now" self-managed vs saas modal so it can be displayed when clicking a related button
        = partial '/pricing/_modal2020', locals: plan_modal_options(plan, variant)
